{% extends 'base.html' %} {% block content %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="card-body">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-4">{% block title %} Adicionar nova postagem {% endblock %}</h2>
                <form method="post">
                    <label for="title">Titulo</label>
                    <br>
                    <input class="form-control" type="text" name="title" placeholder="Post title" value="{{ request.form['title'] }}"></input>
                    <br>
                
                    <label for="content">Conteúdo da postagem</label>
                    <br>
                    <textarea class="form-control" name="content" placeholder="Post content" rows="15" cols="60">{{ request.form['content'] }}</textarea>
                    <br>
                    <button class="btn btn-success" type="submit">Cadastrar</button>
                </form>
        </div>
    </div>
</section>
{% endblock %}